<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <span class="py-2" href="#">
            <h4 class="logo">SENERGY</h4>
        </span>
        <span class="menu-item py-2"><b>Dashboard</b></span>
        <span class="menu-item py-2"><b>Equipamentos</b></span>
        <span class="menu-item py-2"><b>Enterprise</b></span>
        <span class="menu-item py-2"><b>Support</b></span>
        <span class="menu-item py-2"><b>Pricing</b></span>
        <span class="menu-item py-2"><b>Cart</b></span>
    </div>
</nav>