.menu-main {
    background-color: #3E4E6A !important;
    width: 280px !important;
    position: absolute;
}

.logo {
    height: 3em !important;
    margin-left: 20%;
}

.material-icons {
    font-size: 1.5em;
    color: #9FA2B4;
}

.nav-link {
    display: flex;
    align-items: center;
}

.menu-color {
    color: #9FA2B4;
}

.active-menu {
    background-color: rgba(159, 162, 180, 0.2) !important;
    color: #DDE2FF !important;
}