<app-header></app-header>
<app-menu></app-menu>
<div class="ml-25 row">
    <div class="col">
        <div class="title">
            <h3>Dashboard</h3>
        </div>
        <!-- CARDS -->
        <div class="row align-self-center">
            <div class="container">
                <div class="row">
                    <div class="col-3 card-content">
                        <h5>Colaboradores Inativos</h5>
                        <span class="capital-letter">2</span>
                    </div>
                    <div class="col-3 card-content">
                        <h5>Colaboradores em Need to Progress</h5>
                        <span class="capital-letter">43</span>
                    </div>
                    <div class="col-3 card-content">
                        <h5>Colaboradores em Progressing</h5>
                        <span class="capital-letter">40</span>
                    </div>
                    <div class="col-3 card-content">
                        <h5>Colaboradores em Differentiating
                        </h5>
                        <span class="capital-letter">64</span>
                    </div>
                </div>
            </div>
            <!-- CARDS -->
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="row chart-content">
                            <h5>Orçado x Realizado - Budget</h5>
                            <div echarts [options]="optionsChart" [loading]="isLoading" theme="macarons" class="demo-chart"></div>
                            <div class="row dash-numbers">
                                <hr>
                                <div class="col-4 vert-line">
                                    <span class="small-letter">Consumo total KW</span><br/>
                                    <b class="font">7372 kw</b>
                                </div>
                                <div class="col-4 vert-line">
                                    <span class="small-letter">Economia total acumulada</span><br/>
                                    <b class="font">R$ 432,00</b>
                                </div>
                                <div class="col-4 vert-line">
                                    <span class="small-letter">Prospect anual</span><br/>
                                    <b class="font">R$ 2K</b>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row chart-content">
                            <a class="link" (click)="navigate('colaboradores')">Detalhes</a>
                            <h5>Ambientes</h5>
                            <span class="small-letter">Ambientes: Quantidade do gasto mensal em KW</span>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="font">Quarto Artur</td>
                                        <td class="font">1537 KW</td>
                                        <td>
                                            <span class="active">Ativo  </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="font">Sala de estar</td>
                                        <td class="font">345 KW</td>
                                        <td>
                                            <span class="active">Ativo </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="font">Quarto do Gabriel</td>
                                        <td class="font">1189 KW</td>
                                        <td>
                                            <span class="active">Ativo </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="font">Banheiro</td>
                                        <td class="font">114 KW</td>
                                        <td>
                                            <span class="inactive">Ativo</span>
                                        </td>
                                    </tr>
                                    <!-- <tr *ngFor="let colab of this.colaboradoresData">
                                        <td class="font">{{colab.name}}</td>
                                        <td class="font">{{colab.occupation}}</td>
                                        <td>
                                            <span [ngClass]="{'active': colab.status == 'ACTIVE', 
                                            'license' : colab.status === 'LICENSE',
                                            'inactive' : colab.status === 'INACTIVE' }">{{colab.status}}</span>
                                        </td>
                                    </tr> -->
                                </tbody>
                            </table>
                        </div>
                        <div class="row chart-content">
                            <a class="link" (click)="navigate('hotskills')">Detalhes</a>
                            <h5>Dispositivos</h5>
                            <span class="small-letter">Total de dispositivos (5)</span>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="font">Televisão sala</td>
                                        <td class="font grey-font">44 KWh</td>
                                    </tr>
                                    <tr>
                                        <td class="font">Geladeira</td>
                                        <td class="font grey-font">90 KWh</td>
                                    </tr>
                                    <tr>
                                        <td class="font">Frigobar</td>
                                        <td class="font grey-font">10 KWh</td>
                                    </tr>
                                    <tr>
                                        <td class="font">Computador Gabriel</td>
                                        <td class="font grey-font">110 KWh</td>
                                    </tr>
                                    <!-- <tr *ngFor="let hotskill of this.hotskillsData">
                                        <td class="font">Teste</td>
                                        <td class="font grey-font">Teste 2</td>
                                    </tr> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>