<app-header></app-header>
<app-menu></app-menu>
<div class="main">
    <div class="title">
        <h3>Dashboard</h3>
    </div>
    <div class="row justify-content-start">
        <div class="container">
            <div class="row">
                <div class="col-2 card-content">
                    <h4>Dispositivos ativos</h4>
                    <span class="capital-letter">7</span>
                    <span class="small-letter">/5</span>
                </div>
                <div class="col-2 card-content">
                    <h4>Ambientes ativos</h4>
                    <span class="capital-letter">8</span>
                    <span class="small-letter">/9</span>
                </div>
                <div class="col-2 card-content">
                    <h4>Estimativa de economia mensal</h4>
                    <span class="small-letter">R$</span>
                    <span class="capital-letter">167,73</span>
                </div>
                <div class="col-2 card-content">
                    <h4>Cômodo com mais consumo</h4>
                    <span class="capital-letter-2">Quarto do Artur</span><br>
                    <span class="small-letter">1537 KW</span>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>