<app-header></app-header>
<app-menu></app-menu>
<div class="ml-25 row">
    <div class="col">
        <div class="title">
            <h3>Dashboard</h3>
        </div>
        <!-- CARDS -->
        <div class="row align-self-center">
            <div class="container">
                <div class="row">
                    <div class="col-3 card-content">
                        <h5>Dispositivos ativos</h5>
                        <span class="capital-letter">{{this.deviceData.length}}</span>
                    </div>
                    <div class="col-3 card-content">
                        <h5>Ambientes ativos</h5>
                        <span class="capital-letter">{{this.roomData.length}}</span>
                    </div>
                    <div class="col-3 card-content">
                        <h5>Estimativa economia mensal</h5>
                        <span class="capital-letter-2">
                            <span class="small-letter">R$</span> {{this.dashData.ecoMensalEst}}
                        </span>
                    </div>
                    <div class="col-3 card-content">
                        <h5>Cômodo com mais consumo</h5>
                        <span class="capital-letter-2">{{this.dashData.comodoMaisGasto}}</span><br/>
                        <span class="small-letter">{{this.dashData.comodoMaisGastoQtd}} KW</span>
                    </div>
                </div>
            </div>
            <!-- CARDS -->
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="row chart-content">
                            <h5>Consumo energia</h5>
                            <div echarts [options]="optionsChart" [loading]="isLoading" theme="macarons" class="demo-chart"></div>
                            <div class="row dash-numbers">
                                <hr>
                                <div class="col-4 vert-line">
                                    <span class="small-letter">Cons. total KW</span><br/>
                                    <b class="font">{{this.dashData.consumoTotalKw}} KW</b>
                                </div>
                                <div class="col-4 vert-line">
                                    <span class="small-letter">Economia total</span><br/>
                                    <b class="font">R$ {{this.dashData.ecoTotalAcum | ShortNumber}}</b>
                                </div>
                                <div class="col-4">
                                    <span class="small-letter">Prospect anual</span><br/>
                                    <b class="font">R$ {{this.dashData.prospectAnual | ShortNumber}}</b>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row chart-content">
                            <a class="link" (click)="navigate('rooms')">Detalhes</a>
                            <h5>Ambientes</h5>
                            <span class="small-letter">Ambientes: Quantidade do gasto mensal em KW</span>
                            <table class="table">
                                <tbody>
                                    <tr *ngFor="let room of this.roomData">
                                        <td class="font">{{room.room}}</td>
                                        <td class="font">{{room.value}} KW</td>
                                        <td>
                                            <span [ngClass]="{'active': room.status == 'ACTIVE', 
                                            'license' : room.status === 'LICENSE',
                                            'inactive' : room.status === 'INACTIVE' }">{{room.status}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row chart-content">
                            <a class="link" (click)="navigate('devices')">Detalhes</a>
                            <h5>Dispositivos</h5>
                            <span class="small-letter">Total de dispositivos ({{this.deviceData.length}})</span>
                            <table class="table">
                                <tbody>
                                    <tr *ngFor="let device of this.deviceData">
                                        <td class="font">{{device.device}}</td>
                                        <td class="font grey-font">{{device.KWh}} KWh</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>